data
*.zip                      
*.o                        
*.exe                      
*.swp                      
*.swo                      
log                        
backup                     
src                        
.virt3                     
*__pycache__*              
*.xlsx*                    
*.txt                      
!requirements.txt          
!README.md                
*.pyc                      
__pycache__                
*backup*                   
